/* 
    General Styles
*/

/*
@media (max-width: 480px) {
.playground .controls select {
width: 100%;
margin-right: 0;
}
}79a3b1
*/

body{
    background-color: #f2f2f2;
}



/*
body{
    background: linear-gradient(
    90deg,
    #3edbf0 0%,
    #77acf1 100%
  );
}*/

@media screen and (min-width: 570px) {

.vs-container{
  /*border-radius: 15px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  
  margin-bottom: 100px !important;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.79) ;*/
  width: 450px;
  margin-top: 2em;
  background-color: #fff;
  box-shadow: 0px 10px 18px -2px rgba(0, 0, 0, 0.41);
  border-radius: 30px 30px 30px 30px;
  //text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;

}

.btnInput{
    margin: 10px;
    width: 400px !important;
    height: 50px;
    font-size: large;
    text-align: center;
    width: 60%;
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    height: 3em;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFF;
    /*width: 380px;
    height: 50px;
    font-size: large;
    background-color: transparent;
    color: black;
    outline: none;
    border-bottom: none;
    margin-bottom: 30px;
    background-color: #e1e5ea;
    margin-left: 5px;
    margin-right: 5px;*/
    
   
}



.btnEnviar{   
    margin-top: 1em;
    text-align: center;
    width: 40%;
    text-decoration: none;
    //background-color: rgb(75, 168, 255);
    background-color: #0d335d;
    height: 3em;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFF;
    color: white;
    text-transform: uppercase;    
    margin: 10px;
    width: 400px;
    height: 50px;
    font-size: large;
     
}

.min-footer {


    background-color: rgb(235, 235, 235);
    border-radius: 0px 0px 30px 30px;
    color: rgb(75, 168, 255);
    width: 450px;
    height: 100px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 30px;
    
}

}


.vs-container h1{
    padding-bottom: 10px;
    text-align: center;
}

.vs-container h6{
    padding-bottom: 30px;
    text-align: justify;
}

.vs-container button{
    float: right;
    text-align: center;
}

.vs-label{

    color:black;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 0% !important;
}


.regis-style h2{
    font-weight: bolder;
    padding-bottom: 20px;
    text-align: center;
    background-color:#0d335d;
    outline-style: none;
    outline-width: thick;
    padding-top: 20px;
    border-radius: 30px;
    color: white;
    
    
}

.regis-style h3{
    padding-top: 30px;
    padding-bottom: 10px;

}

.ocultar{
    
    display: none;
}

.mostrar{
    margin-top: 20px;
}

