.borde{
    
    border: 2px solid #c5c7c9;
    border-radius: 10px;
    padding: 41px;
    margin-top: 8em !important;
    
}

@media screen and (max-width: 800px) {
    .borde {
        border: 0px;
    }
}