.captionSliderEquipo {
    font-size: 2em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0%;
    bottom: 20px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.borde{
    
    border: 1px solid white;
    border-radius: 10px;
    padding: 41px;
    margin-top: 6em !important;
    margin-bottom: 6em !important;
    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.79) ;
    
}

@media screen and (max-width: 800px) {
    .borde {
        border: 0px;
    }
}