.captionSliderEquipo {
    font-size: 2em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0%;
    bottom: 20px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.borde{
    
    border: 2px solid #c5c7c9;
    border-radius: 10px;
    padding: 41px;
    margin-top: 8em !important;
    
}

@media screen and (max-width: 800px) {
    .borde {
        border: 0px;
    }
}